* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    --bg-main: #262626;
    --text-color: #ffffff;
    --author-color: #e9aa89;
    --tag-color: #CACACA;
}

html {
    scrollbar-gutter: stable;
}

body.no-scroll {
    overflow: hidden;
}

body {
    background-color: var(--bg-main);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.wrapper {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
}

.nav-button {
    padding: 1.5rem;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 2;

}

.nav-button::before,
.nav-button::after {
    transition: transform 300ms ease-in-out, top 300ms ease-in-out;
    content: "";
    position: absolute;
    height: 2px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 1.75rem;
    background-color: #fff;
}

.nav-button::before {
    top: 40%;
}


.nav-button::after {
    top: 60%;
}

.menu-button-active {
    position: fixed;
}

.menu-button-active::before,
.menu-button-active::after {
    top: 50%;
    transform-origin: center;
}

.menu-button-active::before {
    transform: translateX(-50%) rotate(45deg);
}

.menu-button-active::after {
    transform: translateX(-50%) rotate(-45deg);
}

.nav-container {
    width: inherit;
    height: inherit;
    background-color: var(--bg-main);
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-open {
    transform: translateX(0%);
}

nav {
    margin-top: 8rem;
    margin-bottom: 3rem;
}

nav ul {
    list-style-type: none;
    line-height: 5rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 2.625rem;
    color: var(--text-color);
}

.contact {
    line-height: 2.5rem;
}

.contact-item {
    font-size: 1.5rem;
    color: var(--text-color);
}

.banner {
    background-image: url('/assets/images/bg-2.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    background-repeat: no-repeat;
}

.overview {
    margin: 2.5rem 0;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.overview .tag {
    text-transform: uppercase;
    color: var(--tag-color);
    font-weight: 700;
    font-size: 0.75rem;
}

.overview .author {
    color: var(--author-color);
}

.overview .title {
    font-weight: 700;
    line-height: 2.5rem;
    font-size: 2rem;
}

.overview .description {
    line-height: 1.75rem;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.portfolio-img {
    position: relative;
    cursor: pointer;
}

.portfolio-img::before {
    position: absolute;
    content: "View Work";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--text-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.portfolio-img:hover::before {
    opacity: 1;
}

.portfolio-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}